*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(238, 48, 10), white);
}

.btn{
    padding: 10px 45px;
    border-radius: 35px;
    border-spacing: 10px;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 30px;
    background-image: linear-gradient(to left, rgb(216, 53, 218), rgb(121, 44, 180), rgb(90, 21, 208));
    color: blanchedalmond;
   
}

.popup{
    position: absolute;
    width: 400px;
    background-color: rgb(212, 24, 24);
    border-radius: 10px;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 10px 30px 30px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgb(151, 10, 238), white);
    /*forhiding*/visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    -webkit-transform: translate(-50%, -50%) scale(0.1);
    -moz-transform: translate(-50%, -50%) scale(0.1);
    -ms-transform: translate(-50%, -50%) scale(0.1);
    -o-transform: translate(-50%, -50%) scale(0.1);
}

.open-popup{
     top: 50%;
     visibility: visible;
     transform: translate(-50%, -50%) scale(1);
    
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border: 0;
    outline: 0;
    border-radius:5px;
    cursor: pointer;
     box-shadow: 0 5px 5px rgba(244, 2, 2, 0.329);
    background-image: linear-gradient(to left, rgb(216, 53, 218), rgb(121, 44, 180), rgb(90, 21, 208));
    color: aquamarine;
    font-size: 30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}